.container {
  min-height: 100vh;
  background: linear-gradient(180deg, #2351a7, #d8dde6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background: white;
  padding: 40px 50px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  width: 30vw;
  height: 53vh;
  text-align: center;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.icon {
  background: #1b47b8;
  color: white;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

.title {
  font-size: 35px;
  font-weight: 750;
  margin-bottom: 8px;
}

.subtitle {
  color: #70747c;
  margin-bottom: 30px;
  font-size: 20px;
}

.formGroup {
  text-align: left;
  margin-bottom: 18px;
}

.formGroup label {
  display: block;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 6px;
}

.formGroup input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  outline: none;
  font-size: 23px;
}

.formGroup input:focus {
  border-color: #1d5cff;
}

.loginBtn {
  width: 100%;
  background: #1d5cff;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 23px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}
.loginBtn:hover {
  background: #1747d6;
}
.signupText {
  margin-top: 16px;
  font-size: 20px;
  color: #6b7280;
}
.signupText span {
  color: #1d5cff;
  font-weight: 600;
  cursor: pointer;
}
.demoText {
  margin-top: 18px;
  font-size: 15px;
  color: #505769;
}
.formGroup .errorInput {
  border: 1px solid red ;
}

.formGroup input.errorInput:focus {
  border: 1px solid red ;
}

.errorText {
  color: red;
  font-size: 15px;
  margin: 3px 3px;
}
