.toAll{
  border: 2px solid black;
  border-radius: 15px;
  /* m: top right bottom left */
  margin: 40px 60px 10px 60px;
  padding: 15px;
  height: 100px;
  width: 400px;
  min-width: 220px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: start;
  cursor: pointer;
}
.applied{
  background: #e8f1ff;
  border-color: #e8f1ff;
}
.offers{
  background: #a0f6be;
  border-color: #e8fff0;
}
.interview{
  background: #d3c1f1;
  border-color: #d3c1f1;
}
.rounds{
  background: #fef090;
  border-color: #fef090;
}
.stageGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

