.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0,0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}
.modalBox {
  background: #ffffff;
  width: 90%;
  max-width: 620px;
  border-radius: 12px;
  padding: 20px 22px 24px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  font-family: Inter, sans-serif;
}
.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.modalHeader h2 {
  font-size: 3vh;
  font-weight: 600;
  margin: 0;
}
.closeButton {
  background: transparent;
  border: none;
  font-size: 50px;
  cursor: pointer;
  color: #555;
}
.closeButton:hover {
  color: #000;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.inputGroup label {
  font-size: 25px;
  font-weight: 500;
  color: #222;
}
.inputGroup input,
.inputGroup select {
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  font-size: 18px;
  outline: none;
  transition: border 0.2s;
}

.inputGroup input::placeholder {
  color: #98a2b3;
}

.inputGroup input:focus,
.inputGroup select:focus {
  border-color: #2563eb;
}

.buttonRow {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 16px;
}
.cancelButton {
  padding: 10px 18px;
  border-radius: 8px;
  border: 1px solid #d0d5dd;
  background: white;
  font-size: 18px;
  cursor: pointer;
}

.cancelButton:hover {
  background: #c52121;
  color: #ffffff;
}

.submitButton {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background: #2563eb;
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.submitButton:hover {
  background: #1d4ed8;
}
@media (max-width: 600px) {
  .modalHeader h2 {
    font-size: 20px;
  }

  .inputGroup label {
    font-size: 16px;
  }

  .inputGroup input,
  .inputGroup select {
    font-size: 14px;
  }
}
