* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

img, video {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {}

@media (max-width: 480px) {}